body {
    margin: 0;
    padding: 0;
    user-select: none;
}

canvas {
    position: absolute;
    width: 700px;
    height: 400px;
    border: 1px solid black;
    left: 40%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.setting {
    display: flex;
    left: 40%;
    top: 5%;
    transform: translate(-50%, 0)
}

.color-setting,
.width-setting {
    text-align: center;
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    width: 350px;
}

.saved-canvas {
    width: 700px;
    height: 400px;
    border: 1px solid black;
}
